<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div>
<parent>
    <sub1> </sub1>
    <sub2> </sub2>
</parent>


<p> fail!! </p>
<parent2>
    <sub1> </sub1>
    <sub2> </sub2>
</parent2>


<p> success: class selection </p>
<parent2>
    <div class="sub1-1">1</div>
    <div class="sub2-1">2</div>
    <div class="sub1-1">1</div>
</parent2>

<p> success: property selection </p>
<parent2>
    <div sub1-1>1</div>
    <div sub2-1>2</div>
    <div sub1-1>1</div>
</parent2>

</div>

<router-outlet></router-outlet>
